﻿@using RezervacijaUlaznica.Models
@model Korisnik

@{
    ViewBag.Title = "Index";
}
<h2>Dobro dosli @Model.Ime @Model.Prezime</h2>
<br />
<br />
<a href="~/Kupac/Profil">Pogledaj svoj profil</a>
<br />
<a href="~/Home/Index">Pogledaj manifestacije</a>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>

