﻿@using RezervacijaUlaznica.Models
@model Rezervacija

@{
    ViewBag.Title = "Komentar";
}

<h2>Ostavi komentar za manifestaviju @Model.karta.ZaKojuManifestaciju.Naziv</h2>
<br />
<p><font color="red">@TempData["komentar"]</font></p>
<form action="~/Kupac/OstaviKomentar" method="post">
    <table>
        <tr>
            <td>Komentar:</td>
            <td><input type="text" name="komentar" width="10" /></td>
        </tr>
        <tr>
            <td>Ocjena:</td>
            <td>
                <input list="roles" name="ocjena" />
                <datalist id="roles">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="id" value="@Model.id" hidden />
                <input type="submit" value="Potvrdi" />
            </td>
        </tr>
    </table>
</form>
<br />
<a href="~/Kupac/Index">Nazad</a>

