﻿@using RezervacijaUlaznica.Models
@model List<Manifestacija>

@{
    ViewBag.Title = "Manifestacije";
}

<h2>Manifestacije</h2>
<br />
<table border="1">
    <tr><th>Naziv </th><th>Tip </th><th>Datum i vrijeme odrzavanja</th><th>Status</th></tr>
    @foreach (Manifestacija item in Model)
    {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.Tip</td>
            <td>@item.DatumIVrijemeOdrzavanja</td>
            <td>@item.Status</td>
            <td>
                <form method="post" action="~/Kupac/Detalji">
                    <input type="text" name="id" value="@item.Id" hidden />
                    <input type="submit" value="Detalji" />
                </form>
            </td>

        </tr>
    }
</table>
<a href="~/Kupac/Index">Nazad</a>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>

