﻿@using System.Globalization
@using RezervacijaUlaznica.Models
@model Korisnik

@{
    ViewBag.Title = "Profil";
}

<h2>Profil kupca @Model.Ime @Model.Prezime</h2>
<br />
<p>
    Korisnicko ime:<b> @Model.KorisnickoIme</b>
    <br />
    Lozinka:<b>  @Model.Lozinka</b>
    <br />
    Ime:<b>  @Model.Ime</b>
    <br />
    Prezime:<b>  @Model.Prezime</b>
    <br />
    Pol:<b>  @Model.Pol</b>
    <br />
    Datum rodjenja: <b> @Model.DatumRodjenja.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</b>
    <br />
</p>
<form method="post" action="~/Kupac/AzurirajSvojePodatke">
    <input type="text" name="id" value="@Model.Id" hidden />
    <input type="submit" value="Azuriraj podatke" />
</form>
<br />
<br />
<a href="~/Kupac/SveKarte">Pogledaj svoje karte</a>
<br />
<br />
<a href="~/Kupac/Index">Nazad</a>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>

