﻿@using RezervacijaUlaznica.Models
@model List<Rezervacija>

@{
    ViewBag.Title = "RezervisaneKarte";
}

<h2>Rezervisane karte</h2>
<br />
<p><font color="red">@TempData["odustanak"]</font></p>
<table border="1">
    <tr><th>Manifestacija </th><th>Datum i vrijeme odrzavanja</th><th>Cijena</th><th>Tip karte</th><th>Kolicina</th></tr>
    @foreach (Rezervacija item in Model)
    {
        <tr>
            <td>@item.karta.ZaKojuManifestaciju.Naziv</td>
            <td>@item.karta.DatumIvrijemeManifestacije</td>
            <td>@item.karta.Cijena din.</td>
            <td>@item.karta.Tip</td>
            <td>@item.kolicina</td>
            <td>
                @if (item.karta.ZaKojuManifestaciju.Zavrsena != true)
                 {
                    if (item.karta.ZaKojuManifestaciju.Status.ToString().Equals("OTKAZANO"))
                     {
                        <label>OTKAZANO</label>
                     }
                     else
                     {
                        <form method="post" action="~/Kupac/Odustani">
                            <input type="text" name="id" value="@item.id" hidden />
                            <input type="submit" value="Odustani" />
                        </form>
                     }
                 }
                 else
                 {
                    <form method="post" action="~/Kupac/Komentar">
                        <input type="text" name="id" value="@item.id" hidden />
                        <input type="submit" value="Ostavi komentar" />
                    </form>
                 }
            </td>

        </tr>
    }
</table>
<br />
<a href="~/Kupac/SveKarte">Nazad</a>
<br />
<a href="~/Kupac/Index">Pocetna stranica</a>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>
