﻿@using RezervacijaUlaznica.Models
@model Rezervacija

@{
    ViewBag.Title = "RezervisiKartu";
}

<h2>Rezervacija karte</h2>
<br />
<form action="~/Kupac/RezervisiKonacno">
    <input name="id" value="@Model.karta.IdKarte" hidden />
    <input name="kolicina" value="@Model.kolicina" hidden />
    <p>Ukupan broj karata za manifestaciju @Model.karta.ZaKojuManifestaciju.Naziv je @Model.kolicina. Cijena za ove karte iznosi: @Model.karta.Cijena din.</p>
    <input type="submit" value="Potvrdi" />
</form>
<br />
<form action="~/Kupac/OdustaniPrijeKupovine">
    <input name="id" value="@Model.karta.IdKarte" hidden />
    <input type="submit" value="Odustani" />
</form>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>

