﻿@using RezervacijaUlaznica.Models
@model Manifestacija

@{
    ViewBag.Title = "Rezervisi";
}

<h2>Rezervisi kartu/e za manifestaciju @Model.Naziv @Model.Tip</h2>
<br />
<p><font color="red">@TempData["kolicina"]</font></p>
<form action="~/Kupac/RezervisiKartu" method="post">
    Kolicina: <input type="number" name="kolicina" />
    Tip karte :
    <input list="roles" name="tipKarte" />
    <datalist id="roles">
        <option value="VIP"></option>
        <option value="REGULAR"></option>
        <option value="FAN_PIT"></option>
    </datalist>
    <input type="text" name="id" value="@Model.Id" hidden />
    <input type="submit" value="Rezervisi" />
</form>
<br />
<a href="~/Home/Index">Nazad</a>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>

