﻿@using RezervacijaUlaznica.Models
@model List<Rezervacija>

@{
    ViewBag.Title = "SveKarte";
}

<h2>Sve karte</h2>
<br />
<label><font color="red">@TempData["pretraga"]</font></label>
<h3>Pretrazi karte:</h3>
<form action="~/Kupac/Pretrazi">
    <table>
        <tr>
            <td> Naziv manifestacije: </td>
            <td><input type="text" name="naziv"></td>
        </tr>
        <tr>
            <td> Cijena od: </td>
            <td><input type="number" name="cijenaOd"></td>
        </tr>
        <tr>
            <td> Cijena do: </td>
            <td><input type="number" name="cijenaDo"></td>
        </tr>
        <tr>
            <td> Datum od: </td>
            <td><input type="date" name="datumOd"></td>
        </tr>
        <tr>
            <td> Datum do: </td>
            <td><input type="date" name="datumDo"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Pretrazi" /></td>
        </tr>
    </table>
</form>
<a href="~/Kupac/SveKarte">Vidi sve</a>
<br />
<br />
<br />
<h3>Sortiraj po:</h3>
<form action="~/Kupac/Sortiraj" method="post">
    <input list="roles" name="sortirajPo" />
    <datalist id="roles">
        <option value="Ime_manifestacije"></option>
        <option value="Cijena"></option>
        <option value="Datum_odrzavanja"></option>
    </datalist>
    <input list="role" name="opRas" />
    <datalist id="role">
        <option value="Opadajuce"></option>
        <option value="Rastuce"></option>
    </datalist>
    <input type="submit" value="Sortiraj" />
</form>
<br />
<h3>Filtriraj:</h3>
<form action="~/Kupac/Filtriraj">
    <h5>Tip karte:</h5>
    <input type="checkbox" name="vip" />VIP karte
    <br />
    <input type="checkbox" name="regular" />REGULAR karte
    <br />
    <input type="checkbox" name="fanPit" />FAN PIT karte
    <br />
    <br />
    <h5>Status karte:</h5>
    <input type="checkbox" name="rezervisana" />REZERVISANA
    <br />
    <input type="checkbox" name="odustanak" />ODUSTANAK
    <br />
    <input type="submit" value="Filtriraj" />
</form>
<br />
<br />
<table border="1">
    <tr><th>Manifestacija </th><th>Datum i vrijeme odrzavanja</th><th>Cijena</th><th>Tip karte</th><th>Status</th><th>Kolicina</th></tr>
    @foreach (Rezervacija item in Model)
    {
        <tr>
            <td>@item.karta.ZaKojuManifestaciju.Naziv</td>
            <td>@item.karta.DatumIvrijemeManifestacije</td>
            <td>@item.karta.Cijena din.</td>
            <td>@item.karta.Tip</td>
            <td>@item.karta.Status</td>
            <td>@item.kolicina</td>
            <td>
                @if (item.karta.ZaKojuManifestaciju.Status.ToString().Equals("OTKAZANO"))
                {
                    <label>OTKAZANO</label>
                }
            </td>
        </tr>
    }
</table>
<br />
<br />
<a href="~/Kupac/RezervisaneKarte">Pogledaj rezervisane karte</a>
<br />
<a href="~/Kupac/Index">Nazad</a>
<br />
<br />
<a href="~/Kupac/Odjava">Odjavi se</a>

