﻿@using RezervacijaUlaznica.ViewModels
@model  ManifestacijeKomentari

@{
    ViewBag.Title = "DetaljiPocetna";
}

<h2>Detalji</h2>
<br />
<p>
    Naziv:<b> @Model.manifestacija.Naziv</b>
    <br />
    Tip manifestacije:<b> @Model.manifestacija.Tip</b>
    <br />
    Ukupan broj mijesta:<b> @Model.manifestacija.BrojMijesta</b>
    <br />
    Preostali broj REGULAR karata:<b>@Model.manifestacija.BrSlobodnihRegular</b>
    <br />
    Preostali broj VIP karata:<b>@Model.manifestacija.BrSlobodnihVip</b>
    <br />
    Preostali broj FAN PIT karata:<b>@Model.manifestacija.BrSlobodnihFanPit</b>
    <br />
    Datum i vrijeme odrzavanja:<b> @Model.manifestacija.DatumIVrijemeOdrzavanja</b>
    <br />
    Cijena REGULAR karte:<b> @Model.manifestacija.CijenaRegularKarte din.</b>
    <br />
    Status:<b> @Model.manifestacija.Status</b>
    <br />
    Mjesto odrzavanja:<b> @Model.manifestacija.Mjesto.Adresa</b>
    <br />
    Poster:<img src="@Url.Content(Model.manifestacija.Poster)" />
</p>
@if (Model.komentari != null)
{
    foreach (var item in Model.komentari)
    {
        <p>
            Ocjena:<b>@item.Ocjena</b>
            <br />
            Komentar:<b> @item.TekstKomentara</b>
        </p>

    }
}

<br />
<br />
<a href="~/Home/Index">Nazad</a>

