﻿@using RezervacijaUlaznica.Models
@model List<Manifestacija>

@{
    ViewBag.Title = "Home Page";
}
<br />
@if (@ViewBag.ulogovan == "Vec ste ulogovani kao kupac!" || @ViewBag.ulogovan == "Vec ste ulogovani kao administrator!" || @ViewBag.ulogovan == "Vec ste ulogovani kao prodavac!")
{
    
}
else
{
    <a href="#prvi">Prijavi se</a>
}
<br />
<h3>Pretrazi manifestacije</h3>
<br />
<p><font color="red">@TempData["pretraga"]</font></p>
<form action="~/Home/Pretrazi" method="post">
    <table border="1">
        <tr>
            <th>Naziv</th>
            <th>Mjesto odrzavanja</th>
            <th>Datum od</th>
            <th>do</th>
            <th>Ime grada</th>
            <th>Cijena od</th>
            <th>do</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="naziv">
            </td>
            <td>
                <input type="text" name="mjesto">
            </td>
            <td>
                <input type="date" name="datumOd">
            </td>
            <td>
                <input type="date" name="datumDo">
            </td>
            <td>
                <input type="text" name="lokacija">
            </td>
            <td>
                <input type="number" name="cijenaOd">
            </td>
            <td>
                <input type="number" name="cijenaDo">
            </td>
        </tr>
    </table>
    <input type="submit" value="Pretrazi" />
</form>
<br />
<br />
<h3>MANIFESTACIJE</h3>
<br />
<table border="1">
    <tr><th>Naziv </th><th>Tip </th><th>Datum i vrijeme odrzavanja:</th></tr>
    @foreach (Manifestacija item in Model)
    {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.Tip</td>
            <td>@item.DatumIVrijemeOdrzavanja</td>
            <td>
                @if (@ViewBag.ulogovan == "Vec ste ulogovani kao kupac!")
                {
                    <form method="post" action="~/Kupac/Detalji">
                        <input type="text" name="id" value="@item.Id" hidden />
                        <input type="submit" value="Detalji" />
                    </form>
                }
                else
                {
                    <form method="post" action="~/Home/DetaljiPocetna">
                        <input type="text" name="id" value="@item.Id" hidden />
                        <input type="submit" value="Detalji" />
                    </form>
                }
            </td>
            @if (@ViewBag.ulogovan == "Vec ste ulogovani kao administrator!")
            {
                if (item.DatumIVrijemeOdrzavanja > DateTime.Now && !item.Status.ToString().Equals("OTKAZANO"))
                {
                    <td>
                        <form method="post" action="~/Administrator/Otkazi">
                            <input type="text" name="id" value="@item.Id" hidden />
                            <input type="submit" value="Obrisi" />
                        </form>
                    </td>
                }
            }
        </tr>
    }
</table>
<br />
<br />
<br />

<p><font color="red">@TempData["message"]</font></p>
@{
    if (@ViewBag.ulogovan != "Vec ste ulogovani kao kupac!")
    {
        if (@ViewBag.ulogovan != "Vec ste ulogovani kao administrator!")
        {
            if (@ViewBag.ulogovan != "Vec ste ulogovani kao prodavac!")
            {
                <h3>Prijavi se</h3>
                <form name="prvi" action="~/Home/Login" method="post">
                    <table>
                        <tr>
                            <td>Korisnicko ime:</td>
                            <td><input type="text" name="korisnickoIme" /></td>
                        </tr>
                        <tr>
                            <td>Lozinka:</td>
                            <td><input type="password" name="lozinka" /></td>
                        </tr>
                    </table>

                    <a name="prvi">
                        <input type="submit" value="Prijavi se" />
                    </a>
                </form>

                <br />
                <br />
                <a href="~/Register/Index">Registruj se</a>
                <br />
            }
            else
            {
                <a href="~/Prodavac/Index">Nazad</a>
            }
        }
        else
        {
            <a href="~/Administrator/NoveManifestacije">Nazad</a>
        }
    }
    else
    {
        <a href="~/Kupac/Index">Nazad</a>
    }
}


