﻿@using RezervacijaUlaznica.Models
@model List<Manifestacija>

@{
    ViewBag.Title = "Pretrazi";
}

<h2>Rezultat pretrage</h2>
<br />
<table border="1">
    <tr><th>Naziv </th><th>Tip </th><th>Datum i vrijeme odrzavanja</th><th>Mjesto odrzavanja</th><th>Poster</th><th>Cijena</th><th>Prosjecna ocjena</th></tr>
    @foreach (Manifestacija item in Model)
    {
  <tr>
    <td>@item.Naziv</td>
    <td>@item.Tip</td>
    <td>@item.DatumIVrijemeOdrzavanja</td>
    <td>@item.Mjesto.Adresa</td>
    <td width="270"><img src="@Url.Content(item.Poster)" width="50" height="70"/></td>
    <td>@item.CijenaRegularKarte din.</td>
    @if (item.Zavrsena == true)
    {
        if (item.ProsjecnaOcjena != -1)
        {
            <td>@item.ProsjecnaOcjena</td>
        }
        else
        {
            <td>/</td>
        }
    }
    else
    {
        <td>/</td>
    }
        <td>
            @if (Session["kupci"]!=null)
            {
                <form method="post" action="~/Kupac/DetaljiPretraga">
                    <input type="text" name="id" value="@item.Id" hidden />
                    <input type="submit" value="Detalji" />
                </form>
            }
            else
            {
             <form method="post" action="~/Home/Detalji">
                <input type="text" name="id" value="@item.Id" hidden />
                <input type="submit" value="Detalji" />
            </form>
            }
        </td>

</tr>
}
</table>
<br />
<br />
<h3>Sortiraj po:</h3>
<form action="~/Home/Sortiraj">
    <input list="roles" name="sortirajPo" />
    <datalist id="roles">
        <option value="Naziv"></option>
        <option value="Datum_odrzavanja"></option>
        <option value="Cijena_karte"></option>
        <option value="Mjesto_odrzavanja"></option>
    </datalist>
    <input list="role" name="opras" />
    <datalist id="role">
        <option value="Opadajuce"></option>
        <option value="Rastuce"></option>
    </datalist>
    <input type="submit" value="Sortiraj" />
</form>
<br />
<h3>Filtriraj:</h3>
<form action="~/Home/Filtriraj">
    <h5>Tip manifestacije:</h5>
    <input type="checkbox" name="koncert" />Koncert
    <br />
    <input type="checkbox" name="festival" />Festival
    <br />
    <input type="checkbox" name="pozoriste" />Pozoriste
    <br />
    <input type="checkbox" name="bioskop" />Bioskop
    <br />
    <br />
    <input type="checkbox" name="nerasprodate" />Nerasprodato
    <br />
    <input type="submit" value="Filtriraj" />
</form>
<br />
<br />
<a href="~/Home/Index">Nazad</a>

