﻿
@{
    ViewBag.Title = "Index";
}

<h2>REGISTRACIJA</h2>
<br />
<a href="~/Home/Index">Prijavi se</a>
<br />
<br />
<p><font color="red">@TempData["greska"]</font></p>
<form action="~/Register/Add" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="korisnickoIme" /></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka" /></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime" /></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime" /></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="rolespol" name="pol" />
                <datalist id="rolespol">
                    <option value="MUSKO"></option>
                    <option value="ZENSKO"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="date" name="datumRodjenja" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Registruj se" />
            </td>
        </tr>
    </table>
</form>
<br />
<br />
<a href="~/Home/Index">Nazad</a>


