﻿@using RezervacijaUlaznica.Models
@model Manifestacija

@{
    ViewBag.Title = "AzurirajManifestaciju";
}

<h2>Azuriraj Manifestaciju</h2>
<br />
<p><font color="red">@TempData["message"]</font></p>
<form action="~/Prodavac/Azuriraj" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Naziv:</td>
            <td><input type="text" name="naziv" value="@Model.Naziv" /></td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <input list="roles" name="tip" value="@Model.Tip" />
                <datalist id="roles">
                    <option value="KONCERT"></option>
                    <option value="FESTIVAL"></option>
                    <option value="POZORISTE"></option>
                    <option value="BIOSKOP"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Broj REGULAR mijesta:</td>
            <td><input type="number" name="brojMijestaRegular" value="@Model.BrojMijestaRegular" /></td>
        </tr>
        <tr>
            <td>Broj VIP mijesta:</td>
            <td><input type="number" name="brojMijestaVip" value="@Model.BrojMijestaVip" /></td>
        </tr>
        <tr>
            <td>Broj FAN PIT mijesta:</td>
            <td><input type="number" name="brojMijestaFanPit" value="@Model.BrojMijestaFanPit" /></td>
        </tr>
        <tr>
            <td>Datum i vrijeme odrzavanja:</td>
            <td><input type="datetime" name="datumIVrijemeOdrzavanja" value="@Model.DatumIVrijemeOdrzavanja" /></td>
        </tr>
        <tr>
            <td>Cijena REGULAR karte:</td>
            <td><input type="number" name="cijenaRegularKarte" value="@Model.CijenaRegularKarte" /></td>
        </tr>
        <tr>
            <td>Mjesto odrzavanja:</td>
        </tr>
        <tr>
            <td>Ulica:</td>
            <td><input type="text" name="ulica" value="@Model.Mjesto.Ulica" /></td>

        </tr>
        <tr>
            <td>Broj:</td>
            <td><input type="number" name="broj" value="@Model.Mjesto.Broj" /></td>
        </tr>
        <tr>
            <td>Grad:</td>
            <td><input type="text" name="grad" value="@Model.Mjesto.Grad" /></td>
        </tr>
        <tr>
            <td>Postanski broj:</td>
            <td><input type="number" name="postanskiBroj" value="@Model.Mjesto.PostanskiBroj" /></td>
        </tr>
        <tr>
            <td> Poster:</td>
            <td><img src="@Url.Content(Model.Poster)" /></td>

        </tr>
        <tr>
            <td><label for="img">Izaberite novi poster:</label></td>
            <td><input type="file" name="img" id="img"></td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2">
                <input type="text" name="id" value="@Model.Id" hidden />
                <input type="submit" value="Azuriraj" />
            </td>
        </tr>
    </table>
</form>
<br />
<a href="~/Prodavac/Manifestacije">Nazad</a>
