﻿@using RezervacijaUlaznica.ViewModels
@model ManifestacijeKomentari

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>
<p><font color="red">@TempData["azuriranje"]</font></p>
<p>
    Naziv: <b>@Model.manifestacija.Naziv</b>
    <br />
    Tip manifestacije:<b> @Model.manifestacija.Tip</b>
    <br />
    Ukupan broj mijesta:<b> @Model.manifestacija.BrojMijesta </b>
    <br />
    Preostali broj REGULAR karata:<b>@Model.manifestacija.BrSlobodnihRegular</b>
    <br />
    Preostali broj VIP karata:<b>@Model.manifestacija.BrSlobodnihVip</b>
    <br />
    Preostali broj FAN PIT karata:<b>@Model.manifestacija.BrSlobodnihFanPit</b>
    <br />
    Datum i vrijeme odrzavanja: <b>@Model.manifestacija.DatumIVrijemeOdrzavanja</b>
    <br />
    Cijena REGULAR karte:<b> @Model.manifestacija.CijenaRegularKarte din.</b>
    <br />
    Status:<b> @Model.manifestacija.Status</b>
    <br />
    Mjesto odrzavanja:<b> @Model.manifestacija.Mjesto.Adresa</b>
    <br />
    Poster: <img src="@Url.Content(Model.manifestacija.Poster)" />
</p>
    @if (Model.komentari != null)
    {
        foreach (var item in @Model.komentari)
        {
<p>
    Ocjena:<b>@item.Ocjena</b>
    <br />
    Komentar:<b> @item.TekstKomentara</b>
</p>
           
        }
    }

@if (Model.manifestacija.Zavrsena == false && !Model.manifestacija.Status.ToString().Equals("OTKAZANO"))
{
<form action="~/Prodavac/AzurirajManifestaciju">
    <input name="id" value="@Model.manifestacija.Id" hidden />
    <input type="submit" value="Azuriraj" />
</form>
}
<br />
<br />
<a href="~/Prodavac/Manifestacije">Nazad</a>
<br />
<br />
<a href="~/Prodavac/Odjava">Odjavi se</a>


