﻿@using RezervacijaUlaznica.Models
@model Korisnik

@{
    ViewBag.Title = "Index";
}

<h2>Dobro dosli @Model.Ime @Model.Prezime</h2>
<br />
<br />
<a href="~/Home/Index">Pogledaj manifestacije</a>
<br />
<a href="~/Prodavac/Manifestacije">Pogledaj svoje manifestacije</a>
<br />
<a href="~/Prodavac/NovaManifestacija">Napravi manifestaciju</a>
<br />
<a href="~/Prodavac/Profil">Pogledaj profil</a>
<br />
<a href="~/Prodavac/Karte">Pogledaj kupce i rezervisane karte</a><br />
<br />
<a href="~/Prodavac/OdobriKomentare">Pogledaj neodobrene komentare</a>
<br />
<a href="~/Prodavac/Komentari">Pogledaj sve kometare</a>
<br />
<br />
<a href="~/Prodavac/Odjava">Odjavi se</a>

