﻿@using RezervacijaUlaznica.Models
@model List<Rezervacija>

@{
    ViewBag.Title = "Karte";
}

<h2> Kupci i rezervisane karte</h2>
<br />
@if (Model.Count != 0)
{
<table border="1">
    <tr><th>Manifestacija </th><th>Datum i vrijeme odrzavanja</th><th>Tip karte</th><th>Kolicina</th><th>Ime kupca</th><th>Prezime kupca</th><th>Korisnicko ime</th></tr>
    @foreach (Rezervacija item in Model)
    {
        <tr>
            <td>@item.karta.ZaKojuManifestaciju.Naziv</td>
            <td>@item.karta.DatumIvrijemeManifestacije</td>
            <td>@item.karta.Tip</td>
            <td>@item.kolicina</td>
            <td>@item.karta.kupac.Ime</td>
            <td>@item.karta.kupac.Prezime</td>
            <td>@item.karta.kupac.KorisnickoIme</td>
        </tr>
    }
</table>
}
else
{
    <label>Nema rezervaija</label>
}
<br />
<a href="~/Prodavac/Index">Nazad</a>
