﻿@using RezervacijaUlaznica.Models
@model List<Komentar>

@{
    ViewBag.Title = "Komentari";
}

<h2>Komentari</h2>
<br />
@if (Model.Count != 0)
{
<table border="1">
    <tr><th>Naziv manifestacije</th><th>Tekst komentara</th><th>Ocjena</th><th>Kupac</th><th>Status</th></tr>
    @foreach (Komentar item in Model)
    {
        <tr>
            <td>@item.Manifestacija.Naziv</td>
            <td>@item.TekstKomentara</td>
            <td>@item.Ocjena</td>
            <td>@item.KupacKarte.KorisnickoIme</td>
            <td>@item.Tip</td>
        </tr>
    }
</table>

}
else
{
    <label>Nema komentara</label>
}
<br />
<a href="~/Prodavac/Index">Nazad</a>
