﻿@using RezervacijaUlaznica.Models
@model List<Manifestacija>
@{
    ViewBag.Title = "Manifestacije";
}

<h2>Moje manifestacije</h2>
<br />
<p><font color="red">@TempData["azuriranje"]</font></p>
<table border="1">
    <tr><th>Naziv </th><th>Tip </th><th>Datum i vrijeme odrzavanja</th><th>Staus</th></tr>
    @foreach (Manifestacija item in Model)
    {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.Tip</td>
            <td>@item.DatumIVrijemeOdrzavanja</td>
            <td>@item.Status</td>
            <td>
                <form method="post" action="~/Prodavac/Detalji">
                    <input type="text" name="id" value="@item.Id" hidden />
                    <input type="submit" value="Detalji" />
                </form>
            </td>
        </tr>
    }
</table>
<br />
<a href="~/Prodavac/Index">Nazad</a>
<br />
<br />
<a href="~/Prodavac/Odjava">Odjavi se</a>