﻿
@{
    ViewBag.Title = "NovaManifestacija";
}

<h2>Kreiranje manifestacije</h2>
<br />
<p><font color="red">@TempData["Message"]</font></p>
<form action="~/Prodavac/Kreiraj" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Naziv manifestacije:</td>
            <td><input type="text" name="naziv" /></td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <input list="roles" name="tip" />
                <datalist id="roles">
                    <option value="KONCERT"></option>
                    <option value="FESTIVAL"></option>
                    <option value="POZORISTE"></option>
                    <option value="BIOSKOP"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Broj REGULAR mijesta:</td>
            <td><input type="number" name="brojMijestaRegular" /></td>
        </tr>
        <tr>
            <td>Broj VIP mijesta:</td>
            <td><input type="number" name="brojMijestaVip" /></td>
        </tr>
        <tr>
            <td>Broj FAN PIT mijesta:</td>
            <td><input type="number" name="brojMijestaFanPit" /></td>
        </tr>
        <tr>
            <td>Datum i vrijeme odrzavanja:</td>
            <td><input type="datetime-local" name="datumIVrijemeOdrzavanja" /></td>
        </tr>
        <tr>
            <td>Cijena REGULAR karte:</td>
            <td><input type="number" name="cijenaRegularKarte" /></td>
        </tr>
        <tr>
            <td><label for="img">Izaberite poster:</label></td>
            <td><input type="file" name="img" id="img"></td>
        </tr>
        <tr>
            <td>Mjesto odrzavanja:</td>
            <td>Ulica:</td>
            <td><input type="text" name="ulica" /></td>

        </tr>
        <tr>
            <td></td>
            <td>Broj:</td>
            <td><input type="number" name="broj" /></td>
        </tr>
        <tr>
            <td></td>
            <td>Grad:</td>
            <td><input type="text" name="grad" /></td>
        </tr>
        <tr>
            <td></td>
            <td>Postanski broj:</td>
            <td><input type="number" name="postanskiBroj" /></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Kreiraj" />
            </td>
        </tr>
    </table>
</form>
<br />
<a href="~/Prodavac/Index">Nazad</a>

