﻿@using RezervacijaUlaznica.Models
@model List<Komentar>


@{
    ViewBag.Title = "OdobriKomentare";
}

<h2>Komentari</h2>
<br />
@if (Model.Count==0)
{
    <label>Nema novih komentara</label>
}
else
{
<table border="1">
    <tr><th>Naziv manifestacije</th><th>Tekst komentara</th><th>Ocjena</th><th>Kupac</th></tr>
    @foreach (Komentar item in Model)
    {
    <tr>
        <td>@item.Manifestacija.Naziv</td>
        <td>@item.TekstKomentara</td>
        <td>@item.Ocjena</td>
        <td>@item.KupacKarte.KorisnickoIme</td>
        <td>
            <form method="post" action="~/Prodavac/Odobri">
                <input type="text" name="id" value="@item.Id" hidden />
                <input type="submit" value="Odobri" />
            </form>
        </td>
        <td>
            <form method="post" action="~/Prodavac/Odbaci">
                <input type="text" name="id" value="@item.Id" hidden />
                <input type="submit" value="Odbaci" />
            </form>
        </td>
    </tr>
    }
</table>
    }
<br />
<a href="~/Prodavac/Index">Nazad</a>

