﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" @*content="width=device-width, initial-scale=1.0"*@ />
    <title>@ViewBag.Title - Rezervacija ulaznica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
        @RenderSection("Styles", false)
    *@
    <style type="text/css">
        
        body {
            background-image: url("../Images/pozadinaNova.jpg");
            background-repeat: no-repeat;
            background-size: cover
        }
        table {
            table-layout: auto;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            
        }

        th {
            color: brown;
            font-size: 18px;
            background-color: lightgoldenrodyellow;
        }
        tr {
            color: black;
            font-size: 16px;
            margin: 4px 7px 2px 4px;
        }


        h2, h3, h4, h5 {
            color: saddlebrown;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            text-shadow: 2px 12px 20px saddlebrown
        }

        p {
            font-size: 18px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 7px 9px 5px 7px;
            outline: 5px;
            margin: 4px 7px 2px 4px;
        }

        input {
            font-size: 14px;
            font-family: Arial
        }

        input:hover {
            font-size: 16px;
        }

        a{
            color:darkblue;
            font-size:16px;
            cursor: pointer
        }
        a:hover{
            color:darkgreen;
            font-size: 18px;
        }
        a:active {
           color: darkgreen;
           font-size: 18px;
        }

        img {
            width: 30%;
            border: 1px solid green;
            padding: 5px;
        }
    </style>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h2><font color="white">REZERVACIJA ULAZNICA</font></h2>
            @* <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @* <footer>
            <p>&copy; @DateTime.Now.Year - Rezervacija ulaznica</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
