﻿@using RezervacijaUlaznica.Models
@using System.Globalization
@model Korisnik

@{
    ViewBag.Title = "Azuriraj";
}

<h2>Podaci o administratoru</h2>
<br />
<p><font color="red">@TempData["greska"]</font></p>
<form action="~/Administrator/AzurirajAdmina" method="post">
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="korisnickoIme" value="@Model.KorisnickoIme" /></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka" value="@Model.Lozinka" /></td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><input type="text" name="ime" value="@Model.Ime" /></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><input type="text" name="prezime" value="@Model.Prezime" /></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td>
                <input list="rolespol" name="pol" value="@Model.Pol" />
                <datalist id="rolespol">
                    <option value="MUSKO"></option>
                    <option value="ZENSKO"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Datum rodjenja:</td>
            <td><input type="datetime" name="datumRodjenja" value="@Model.DatumRodjenja.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" /></td>
        </tr>


        <tr>
            <td colspan="2">
                <input type="text" name="id" value="@Model.Id" hidden />
                <input type="submit" value="Azuriraj" />
            </td>
        </tr>
    </table>
</form>
<br />
<a href="~/Administrator/Index">Nazad</a>
<br />
<br />
<a href="~/Administrator/Odjava">Odjavi se</a>


