﻿@using RezervacijaUlaznica.Models
@model Manifestacija

@{
    ViewBag.Title = "Detalji";
}


<h2>Detalji</h2>
<br />
<p>
    Naziv:<b> @Model.Naziv</b>
    <br />
    Tip manifestacije:<b> @Model.Tip</b>
    <br />
    Ukupan broj mijesta:<b> @Model.BrojMijesta</b>
    <br />
    Preostali broj REGULAR karata:<b> @Model.BrSlobodnihRegular</b>
    <br />
    Preostali broj VIP karata:<b> @Model.BrSlobodnihVip</b>
    <br />
    Preostali broj FAN PIT karata:<b> @Model.BrSlobodnihFanPit</b>
    <br />
    Datum i vrijeme odrzavanja:<b> @Model.DatumIVrijemeOdrzavanja</b>
    <br />
    Cijena REGULAR karte:<b> @Model.CijenaRegularKarte din.</b>
    <br />
    Status:<b> @Model.Status</b>
    <br />
    Mjesto odrzavanja: <b>@Model.Mjesto.Adresa</b>
    <br />
    Poster:<img src="@Url.Content(Model.Poster)" />
</p>
    <form method="post" action="~/Administrator/Odobreno">
        <input type="text" name="id" value="@Model.Id" hidden />
        <input type="submit" value="Odobri" />
    </form>
<br />
<br />
<a href="~/Administrator/NoveManifestacije">Nazad</a>
<br />
<br />
<a href="~/Administrator/Odjava">Odjavi se</a>


