﻿@using System.Globalization
@using RezervacijaUlaznica.Models
@model Korisnik

@{
    ViewBag.Title = "Index";
}

<h2>Profil administratora @Model.Ime @Model.Prezime</h2>
<br />
<p>
    Korisnicko ime:<b> @Model.KorisnickoIme</b>
    <br />
    Lozinka:<b> @Model.Lozinka</b>
    <br />
    Ime: <b>@Model.Ime</b>
    <br />
    Prezime: <b>@Model.Prezime</b>
    <br />
    Pol:<b> @Model.Pol</b>
    <br />
    Datum rodjenja: <b>@Model.DatumRodjenja.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</b>
    <br />
</p>
<form method="post" action="~/Administrator/Azuriraj">
    <input type="text" name="id" value="@Model.Id" hidden />
    <input type="submit" value="Azuriraj podatke" />
</form>
<br />
<br />
<a href="~/Administrator/NoveManifestacije">Nazad</a>
<br />
<br />
<a href="~/Administrator/Odjava">Odjavi se</a>

