﻿@using RezervacijaUlaznica.Models
@model List<Rezervacija>

@{
    ViewBag.Title = "Karte";
}

<h2>Karte</h2>
<br/>
@if (Model.Count!=0)
{
<table border="1">
    <tr><th>Manifestacija </th><th>Datum i vrijeme odrzavanja</th><th>Tip karte</th><th>Kolicina</th><th>Kupac</th><th>Status</th></tr>
    @foreach (Rezervacija item in Model)
    {
        <tr>
            <td>@item.karta.ZaKojuManifestaciju.Naziv</td>
            <td>@item.karta.DatumIvrijemeManifestacije</td>
            <td>@item.karta.Tip</td>
            <td>@item.kolicina</td>
            <td>@item.karta.kupac.KorisnickoIme</td>
            <td>@item.karta.Status</td>
        </tr>
    }
</table>
}
else
{
    <label>Nema rezervisanih karata</label>
}
<br />
<a href="~/Administrator/NoveManifestacije">Nazad</a>
<br />
<br />
<a href="~/Administrator/Odjava">Odjavi se</a>


