﻿@using System.Globalization
@using RezervacijaUlaznica.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Korisnici";
}

<h2>Registrovani korisnici</h2>
<br />
<h3>Pretrazi korisnike:</h3>
<form action="~/Administrator/Pretrazi" method="post">
    <table>
        <tr>
            <td> Ime: </td>
            <td><input type="text" name="ime"></td>
        </tr>
        <tr>
            <td> Prezime: </td>
            <td><input type="text" name="prezime"></td>
        </tr>
        <tr>
            <td> Korisnicko ime: </td>
            <td><input type="text" name="korisnickoIme"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Pretrazi" /></td>
        </tr>
    </table>
</form>
<a href="~/Administrator/Korisnici">Vidi sve</a>
<br />
<br />
<br />
<h3>Sortiraj po:</h3>
<form action="~/Administrator/Sortiraj" method="post">
    <input list="roles" name="sortirajPo" />
    <datalist id="roles">
        <option value="Ime"></option>
        <option value="Prezime"></option>
        <option value="Korisnicko_ime"></option>
        <option value="Broj_sakupljenih_bodova"></option>
    </datalist>
    <input list="role" name="opRas" />
    <datalist id="role">
        <option value="Opadajuce"></option>
        <option value="Rastuce"></option>
    </datalist>
    <input type="submit" value="Sortiraj" />
</form>
<br />
<p><font color="red">@TempData["greska"]</font></p>
<h3>Filtriraj:</h3>
<form action="~/Administrator/Filtriraj">
    <h5>Uloga korisnika:</h5>
    <input type="checkbox" name="admin" />Administrator
    <br />
    <input type="checkbox" name="prodavac" />Prodavac
    <br />
    <input type="checkbox" name="kupac" />Kupac
    <br />
    <br />
    <h5>Tip korisnika:</h5>
    <input type="checkbox" name="zlatni" />ZLATNI
    <br />
    <input type="checkbox" name="srebrni" />SREBRNI
    <br />
    <input type="checkbox" name="bronzani" />BRONZANI
    <br />
    <input type="submit" value="Filtriraj" />
</form>
<br />
<br />
<table border="1">
    <tr><th>Korisnicko ime</th><th>Ime </th><th>Prezime</th><th>Datum rodjena</th><th>Uloga</th><th>Tip</th><th>Broj sakupljenih bodova</th><th>Obrisan</th></tr>

    @foreach (Korisnik item in Model)
    {
        <tr>
            <td>@item.KorisnickoIme</td>
            <td>@item.Ime</td>
            <td>@item.Prezime</td>
            <td>@item.DatumRodjenja.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
            <td>@item.Uloga</td>
            @if (item.Uloga.ToString().Equals("KUPAC"))
            {
                <td>@item.Tip.Ime</td>
                <td>@item.BrojSakupljenihBodova</td>
            }
            else
            {
                <td>/</td>
                <td>/</td>
            }
            @if (!item.Uloga.ToString().Equals("ADMINISTRATOR"))
            {
                <td>@item.Obrisan</td>
            }
            else
            {
                <td>/</td>
            }
            @if ((item.Uloga.ToString().Equals("PRODAVAC") || item.Uloga.ToString().Equals("KUPAC")) && item.Obrisan == false)
            {
                <td>
                    <form method="post" action="~/Administrator/Obrisi">
                        <input type="text" name="korisnickoIme" value="@item.KorisnickoIme" hidden />
                        <input type="submit" value="Obrisi" />
                    </form>
                </td>
            }

        </tr>
    }
</table>

<br />
<br />
<a href="~/Administrator/NoveManifestacije">Nazad na pocetnu stranicu</a>
<br />
<a href="~/Administrator/Index">Nazad na profil</a>
<br />
<a href="~/Administrator/DodajProdavca">Dodaj novog prodavca</a>
<br />
<a href="~/Administrator/Odjava">Odjavi se</a>


