﻿@using RezervacijaUlaznica.Models
@model List<Manifestacija>

@{
    ViewBag.Title = "NoveManifestacije";
}

<h2>Nove Manifestacije</h2>
<br />
@if (TempData["praznaLista"] == "Nema novih manifestacija")
{
    <h4>Nema novih manifestacija</h4>
}
else
{
    <table border="1">
        <tr><th>Naziv </th><th>Tip </th><th>Datum i vrijeme odrzavanja</th></tr>

        @foreach (Manifestacija item in Model)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Tip</td>
                <td>@item.DatumIVrijemeOdrzavanja</td>
                <td>
                    <form method="post" action="~/Administrator/Detalji">
                        <input type="text" name="id" value="@item.Id" hidden />
                        <input type="submit" value="Detalji" />
                    </form>
                </td>

            </tr>
        }
    </table>
}
<br />
<a href="~/Home/Index">Pogledaj sve manifestacije</a>
<br />
<a href="~/Administrator/Index">Pogledaj svoj profil</a>
<br />
<a href="~/Administrator/DodajProdavca">Dodaj nove prodavce</a>
<br />
<a href="~/Administrator/Korisnici">Pogledaj registrovane korisnike</a>
<br />
<a href="~/Administrator/Karte">Pogledaj sve karte</a>
<br />
<a href="~/Administrator/Komentari">Pogledaj komentare</a>
<br />
<br />
<a href="~/Administrator/Odjava">Odjavi se</a>



